body {
  background: hsl(191, 57%, 89%);
  font-family: "Poppins", sans-serif;
}
.session1 {
  text-align: center;
}

.circular--square {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 45px;
}
.presentation {
  font-family: "Poppins", sans-serif;
  width: 350px;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  margin: 60px 530;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
}
.icon1 {
  font-size: 32px;
  color: black;
}

.icon2 {
  font-size: 32px;
  color: black;
}
.icon3 {
  font-size: 32px;
  color: black;
}
.icon4 {
  font-size: 32px;
}
.icon5 {
  font-size: 32px;
  color: black;
}

.Work {
  padding-top: 50px;
}
.description {
  width: 700px;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  margin: 1px auto;
  padding: 0px 10px 20px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
}
.description:hover li {
  opacity: 0.05;
}
.description li:hover {
  opacity: 1;
  transform: scale(1.1);
}
ul {
  padding-top: 30px;
  display: block;
  margin: 23px auto;
  width: fit-content;
  font-family: "Poppins", sans-serif;
}

li {
  display: block;
  margin-top: 0px;
  height: 45px;
  width: 610px;
  background: linear-gradient(45deg, #ffee54, #ff00ca);
  border-radius: 8px;
  animation-name: animateIn;
  animation-duration: 1200ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

li + li {
  margin-top: 16px;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0;
  display: block;
  margin: 50px auto;
  width: 500px;
  justify-content: center;
  align-items: center;
}
/*h2 {
  width: 20px;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  margin: 30px 170;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
}*/
.section h2 {
  width: 85px;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  margin: 30px 650;
  padding: 15px 10px 15px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
}
.second_section {
  padding-top: 30px;
}
.third_section {
  padding-top: 50px;
}

.container h2 {
  width: 150px;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  margin: 30px 170;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
}
.container .skills {
  position: relative;
  display: flex;
  margin: 15px 0;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  transition: 0.5s;
}
/*.container:hover .skills {
  opacity: 0.05;
}
.container .skills:hover {
  opacity: 1;
  transform: scale(1.1);
}*/
.container .skills:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.container .skills .Name {
  position: relative;
  width: 110px;
  text-align: right;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}
.container .skills .Value {
  position: relative;
  width: 40px;
  text-align: left;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}
.container .skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}
.container .skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #000;
  animation: animate 4s ease-in-out forwards;
}
@keyframes animate {
  from {
    width: 0;
  }
}
.container .skills:nth-child(2) .percent .progress {
  background: linear-gradient(45deg, #1fe6ff, #673ab7);
}
.container .skills:nth-child(3) .percent .progress {
  background: linear-gradient(45deg, #3bc0ff, #33ff00);
}
.container .skills:nth-child(4) .percent .progress {
  background: linear-gradient(45deg, #ffee54, #ff00ca);
}
.container .skills:nth-child(5) .percent .progress {
  background: linear-gradient(45deg, #22ffde, #2196f3);
}
/*https://www.youtube.com/watch?v=yk57cgZLWRo&t=0s */
.scrolling {
  position: relative;
  width: 100%;
}
.scrolling .section {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
}
.scrolling .section:nth-child(1) {
  background: url(photos\ of\ the\ seasons/spring.png);
  background-size: cover;
}
.scrolling .section:nth-child(2) {
  background: url(photos\ of\ the\ seasons/summer.jpg);
  background-size: cover;
}
.scrolling .section:nth-child(3) {
  background: url(photos\ of\ the\ seasons/autumn.jpg);
  background-size: cover;
}
.scrolling .section:nth-child(4) {
  background: url(photos\ of\ the\ seasons/winter.jpg);
  background-size: cover;
}
/* customizable snowflake styling */
.snowflake {
  color: rgb(107, 218, 235);
  font-size: 2em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.flower {
  color: pink;
}

.sun {
  color: yellow;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

/*.third_section {
  padding-top: 50px;
}*/
